html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Image Search Abstraction Layer
    link(rel='stylesheet', href='style.css')
  body
    h1 Image Search Abstraction Layer
    h3 search example:
    p /parrot
    h3 pagination example:
    p /parrot?offset=11
    h3 list recent searches:
    p /recents